<!DOCTYPE html>
<html>
  <head>
    <title>ng-spa - level 3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    section {
    margin: 0 auto;
    width: 77.77%;
    }
    </style>
    <script>
    angular.module('myApp', []).controller('myController', myController);

    function myController($scope){
      $scope.articles = [];
      $scope.post = {};
      $scope.addPost = function(post){
        post.createdAt = new Date();
        $scope.articles.push(angular.copy(post));
        $scope.post = {};
      }
    }
    </script>
  </head>
  <body ng-app="myApp" ng-controller="myController">
    <section>
      <header>
        <h1>ng-spa - level 3</h1>
      </header>
      <article class="well" ng-repeat="item in articles">
        <header>
          <h2 ng-click="item.editTitle = true" ng-show="!item.editTitle">{{item.title}}</h2>
          <div class="form-group" ng-show="item.editTitle">
            <label for="title">Titre de l'article</label>
            <input type="text" class="form-control" ng-model="item.title" ng-blur="item.editTitle = false">
          </div>
        </header>
        <p ng-click="item.editContent = true" ng-show="!item.editContent">{{item.content}}</p>
        <div class="form-group" ng-show="item.editContent">
          <label for="content">Contenu de l'article</label>
          <textarea name="content" class="form-control" ng-model="item.content" ng-blur="item.editContent = false"></textarea>
        </div>
        <footer><em>{{item.createdAt | date:'medium'}}</em></footer>
      </article>
      <hr>
      <form ng-submit="addPost(post)">
        <div class="form-group">
          <label for="title">Titre de l'article</label>
          <input type="text" name="title" class="form-control" ng-model="post.title">
        </div>
        <div class="form-group">
          <label for="content">Contenu de l'article</label>
          <textarea name="content" class="form-control" ng-model="post.content"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Ajouter un article</button>
      </form>
    </section>
    <section ng-show="post.title || post.content">
      <hr>
      <header>
        <h3>Aperçu</h3>
      </header>
      <article class="well">
        <header>
          <h2>{{post.title}}</h2>
        </header>
        <p>{{post.content}}</p>
      </article>
    </section>
  </body>
</html>